<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Application Dashboard</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/\@@picocss/pico@2/css/pico.green.min.css"
    />
    <html data-theme="dark" />
    <style>
        a {
            text-decoration: none;
        }
        button > a {
            color: white;
        }
    </style>
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
