@model JobApplicationDashboard.Models.Application

<nav class="container">
    <ul>
        <li>
            <strong>Create</strong>
        </li>
    </ul>
    <ul>
        <button>
            <a asp-action="Index">Back</a>
        </button>
    </ul>
</nav>

<hr />
<div class="container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Company"></label>
            <input asp-for="Company" />
            <span asp-validation-for="Company"></span>
        </div>
        <div>
            <label asp-for="Role"></label>
            <input asp-for="Role" />
            <span asp-validation-for="Role"></span>
        </div>
        <div>
            <label asp-for="Date"></label>
            <input asp-for="Date" />
            <span asp-validation-for="Date"></span>
        </div>
        <div>
            <label asp-for="Resume"></label>
            <input asp-for="Resume" />
            <span asp-validation-for="Resume"></span>
        </div>
        <div>
            <label asp-for="Status"></label>
            <select asp-for="Status">
                <option>Pick one</option>
                <option value="Accepted">Accepted</option>
                <option value="Applied">Applied</option>
                <option value="Assessed">Assessed</option>
                <option value="Ghosted">Ghosted</option>
                <option value="Interviewed">Interviewed</option>
                <option value="Rejected">Rejected</option>
            </select>
            <span asp-validation-for="Status"></span>
        </div>
        <div>
            <label asp-for="Other"></label>
            <input asp-for="Other" />
            <span asp-validation-for="Other"></span>
        </div>
        <div>
            <input type="submit" value="Create"/>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
